#menu{
    color: white;
    font-size: 3em;
}
.menu_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    cursor: pointer;
}

nav{
    display: flex;
    position: fixed;
    width: 100vw;
    background-color: #0a0607;
    flex-direction: row;
    z-index: 3;
    justify-content: space-between;
}
nav a{
    height: 10vh;
}
#ico{
    position: relative;
    height: inherit;
    display: inline;
    flex-flow: column;
    margin-left: 1em;
}
nav ol{
    display: inline-flex;
    right: 1em;
    flex-direction: row;
}
nav ol a{
    width: 2.5em;
    margin: auto 1em;
    text-decoration: none;
    text-align: center;
}
nav ol a:hover{
    border-block-end: #ffffff 3px solid;
}
a:hover{
    text-decoration: none;
}
nav ol a li{
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}
.keep{
    height: 10vh;
    width: 100vw;
    background-color: #0a0607;
}
footer{
    width: 100%;
    height: 9em;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 2em 1em 2em;
    margin: 2em auto;
}
.foot{
    color:white;
    width: 50%;
}
.foot p{
    margin: 1em 2em;
}
#FBdct{
    color:white;
    text-decoration: none;
}
#FBdct:hover{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 575px) {
    footer{
        display: flex;
        flex-direction: column;
        height: 17em;
        flex-wrap: unset;
    }
    .foot{
        width:100%;
        margin-top: 1em;
    }
    .foot p {
        margin: 1em 0em;
    }
    nav ol{
        background-color: black;
        display: flex;
        flex-direction: column;
        right: 0;
        justify-content: center;
        z-index: 5;
    }
    nav ol a{
        width: 5em;
    }
    .menu_div{
        height: 10vh;
        margin: 0 2em;
    }
}