section {
    margin: 1em 15%;
}

.border_keep {
    border: black 3px solid;
    padding: 2em 10%;
    margin: 1em auto;
}

.infor {
    width: 45%;
}

.infor_flex {
    display: flex;
    flex-direction: flow;
    justify-content: space-between;
}

.input_style {
    border: black 1px solid;
    height: 2em;
    width: 100%;
    border-radius: 0.5em;
    padding: 0 1em;
}

.contact_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#button {
    height: 3em;
    width: 12em;
    background-color: #4E9156;
    margin: 0 auto;
    border-radius: 0.5em;
    color: white;
    border: none;
}

.content {
    width: 100%;
    height: 10em;
    border: black 1px solid;
    border-radius: 0.5em;
    padding: 0 1em;
}

.btn_div {
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.gap {
    margin: 1.5em 0;
}

@media only screen and (max-width: 575px) {
    .border_keep{
        padding: 0.5em 10%;
    }
    .infor_flex{
        flex-direction: column;
    }
    .infor{
        width: 100%;
        margin-top: 0.5em;
    }
    .gap{
        margin: 0.5em 0;
    }
}